<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App of news</title>

    <link rel="stylesheet" href="./css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="./css/all.css" type="text/css">
    <link rel="stylesheet" href="./css/style.css" type="text/css">


</head>
<body>
    {{>header}}
    

      {{#each data }}
      
  <div class="card " style="width: 18rem;">
        <img src= "{{this.urlToImage}}"  class="card-img-top"  id="imgcard" alt="...">
    <div class="card-body">
        <h5 class="card-text" id="titlecard"> {{this.title}}</h5>
        <p class="card-text" id="descriptioncard"  > {{this.description}} </p>
       
    </div>
  </div>


 {{/each}}





      <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/app.js"></script>


     {{>footer }}
</body>
</html>












